<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boardgame Dev Tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/geral.css">
    <style>
        .radiolabel {
            display: flex !important;
            justify-content: flex-end !important;
            align-items: center !important;
        }

        .dlk-radio input[type="radio"],
        .dlk-radio input[type="checkbox"] {
            margin-left: -99999px;
            display: none;
        }

        .dlk-radio input[type="radio"]+.far,
        .dlk-radio input[type="checkbox"]+.far {
            opacity: 0.15
        }

        .dlk-radio input[type="radio"]:checked+.far,
        .dlk-radio input[type="checkbox"]:checked+.far {
            opacity: 1
        }
    </style>
</head>

<body>
    <div id="app">
        <h2 class="m-5 text-center"><a><i class="fas fa-box"></i>Boardgame dev tools</a></h2>
        <!-- Page Content -->
        <div class="container-md">
            <div class="card border-0 shadow my-5">
                <div class="card-body">
                    <div v-if="pardidaInfo.status == 0">
                        <h1 class="font-weight-light">
                            {{pardidaInfo.boardgameTitulo?pardidaInfo.boardgameTitulo+' - ':""}}
                            Feedback</h1>
                        <h3 class="font-weight-light">
                            {{pardidaInfo.partidaData ? 'Partida ralizada dia '+new Date(pardidaInfo.partidaData).toLocaleDateString():""}}
                        </h3>
                        <div class="content">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Seu nome</label>
                                    <input type="text" class="form-control" v-model="objFeedback.nomejogador">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Genero (como você se define)</label>
                                    <input type="text" class="form-control" v-model="objFeedback.idgenero">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Idade</label>
                                    <input type="number" class="form-control" v-model="objFeedback.idade">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Email</label>
                                    <input type="text" class="form-control" v-model="objFeedback.email">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Pontuacao</label>
                                    <input type="number" class="form-control" v-model="objFeedback.pontuacao">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input id="chkNot" type="checkbox" v-model="objFeedback.acompanhar">
                                    <label for="chkNot">Receber notifições</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Sobre as afirmações abaixo </label>
                                </div>
                            </div>
                            <div class="row d-flex flex-wrap">
                                <div class="p-2 text-center">
                                    <h5>Me diverti:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'mediverti'+metrica.valor" class="form-control" type="radio"
                                                :value="metrica.valor" v-model="objFeedback.mediverti">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>Eu Gostei da duração:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'gosteidaduracao'+metrica.valor" class="form-control"
                                                type="radio" :value="metrica.valor"
                                                v-model="objFeedback.gosteidaduracao">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>As regras ficaram claras:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'regrasficaramclaras'+metrica.valor" class="form-control"
                                                type="radio" :value="metrica.valor"
                                                v-model="objFeedback.regrasficaramclaras">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>É um jogo original:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'jogooriginal'+metrica.valor" class="form-control" type="radio"
                                                :value="metrica.valor" v-model="objFeedback.jogooriginal">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>É um jogo bem estratégico:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'jogobemestrategico'+metrica.valor" class="form-control"
                                                type="radio" :value="metrica.valor"
                                                v-model="objFeedback.jogobemestrategico">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>Eu jogaria novamente:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'jogarianovamente'+metrica.valor" class="form-control"
                                                type="radio" :value="metrica.valor"
                                                v-model="objFeedback.jogarianovamente">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 text-center">
                                    <h5>Eu compraria o jogo:</h5>
                                    <div class="dlk-radio btn-group">
                                        <label v-for="metrica in mertricas" class="btn btn-default btn-sm"
                                            :style="'font-size: xx-large; background-color:'+ metrica.cor ">
                                            <input :id="'comprariaojogo'+metrica.valor" class="form-control"
                                                type="radio" :value="metrica.valor"
                                                v-model="objFeedback.comprariaojogo">
                                            <i :class="metrica.descricao"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>O que você MENOS gostou?</label>
                                    <textarea rows="3" class="form-control"
                                        v-model="objFeedback.oquemenosgostou"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>O que você MAIS gostou?</label>
                                    <textarea rows="3" class="form-control"
                                        v-model="objFeedback.oquemaisgostou"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label>Observações</label>
                                    <textarea rows="3" class="form-control" v-model="objFeedback.observacao"></textarea>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-md-12 radiolabel">
                                    <button class="btn btn-outline-success" @click="saveFeedback"><i
                                            class="fas fa-cloud-upload-alt"> </i>
                                        Enviar resposta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="pardidaInfo.status == 1">
                        <div class="text-center m-5">
                            <h3>{{pardidaInfo.mensagem}}</h3>
                        </div>
                    </div>
                    <div v-if="pardidaInfo.status == 2">
                        <div class="text-center m-5">
                            <h3>{{pardidaInfo.mensagem}}</h3>
                        </div>
                    </div>
                    <div v-if="pardidaInfo.status == 99">
                        <div class="text-center m-5">
                            <div class="spinner-grow text-larger" role="status">
                            </div>
                            <h3>carregando...</h3>
                        </div>
                    </div>

                    <div style="height: 100px "></div>
                    <p class="lead mb-0 ">Feito na casa do goblin!</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="https://kit.fontawesome.com/a076d05399.js "></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/webAppManager.js"></script>
    <script src="assets/js/boardgame.js"></script>
    <script src="assets/js/feedback.js"></script>

</body>

</html>