<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boardgame Dev Tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/geral.css">
    <link rel="stylesheet" href="assets/css/login.css">

</head>

<body>
    <div id="app">
        <div class="container">
            <section id="formHolder">
                <div class="row">
                   <!-- Brand Box -->
                   <div class="col-md-12 col-lg-6 brand">
                      <a href="#" class="logo"><i class="fas fa-box"></i> </a>
                      <div class="heading">
                         <h2>Boardgame Dev tools</h2>
                         <p>Sua melhor escolha</p>
                      </div>
                   </div>
                   <!-- Form Box -->
                   <div class="col-md-7 col-lg-6 form">
                      <!-- Login Form -->
                      <div class="login form-peice switched">
                         <form class="login-form">
                             <h1>Bem vinda(o) de volta!</h1>
                         
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                 <div class="input-group-text">@</div>
                               </div>
                                <input type="email" class="form-control" placeholder="Email" v-model="myAuth.email" required>
                             </div>

                            <div class="form-group input-group">
                               <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-lock"></i></div>
                              </div>
                               <input type="password" class="form-control" placeholder="Senha" v-model="myAuth.senha" required>
                            </div>
          
                            <div class="CTA">
                                <button class="btn btn-info btn-md" @click="login">Entrar</button>
                                <a href="#" class="switch  float-right">Sou novo aqui!</a>
                            </div>
                         </form>
                      </div><!-- End Login Form -->
          
                      <!-- Signup Form -->
                      <div class="signup form-peice">
                         <form class="signup-form">
                            <h1>Junte-se a nós!</h1>
          
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                 <div class="input-group-text"><i class="fas fa-user"></i></div>
                               </div>
                               <input type="text" class="form-control" placeholder="Nome" v-model="myAuth.name" >
                            </div>
          
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                 <div class="input-group-text">@</div>
                               </div>
                                <input type="email" class="form-control" placeholder="Email" v-model="myAuth.email" required>
                             </div>
                    
                             <div class="form-group input-group">
                                <div class="input-group-prepend">
                                 <div class="input-group-text"><i class="fas fa-unlock"></i></div>
                               </div>
                                <input type="password" class="form-control" placeholder="Senha" v-model="myAuth.senha" required>
                             </div>
          
                             <div class="form-group input-group">
                                <div class="input-group-prepend">
                                 <div class="input-group-text"><i class="fas fa-lock"></i></div>
                               </div>
                                <input type="password" class="form-control" placeholder="Confirmar senha" v-model="myAuth.confirm" required>
                             </div>
          
                            <div class="CTA">
                               <button class="btn btn-info btn-md" @:click="signup" >Registrar</button>
                               <a href="#" class="switch  float-right">Já tenho cadastro</a>
                            </div>
                         </form>
                      </div><!-- End Signup Form -->
                   </div>
                </div>
          
             </section>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/vue "></script>
<script src="https://kit.fontawesome.com/a076d05399.js "></script>
<script src="assets/js/boardgame.js"></script>
<script src="assets/js/appManager.js"></script>
<script src="assets/js/login.js"></script>

</html>