<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boardgame Dev Tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/geral.css">
    <style>
        .radiolabel {
            display: flex !important;
            justify-content: flex-end !important;
            align-items: center !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
            <div class="container">
                <a class="navbar-brand"><i class="fas fa-box"></i>Boardgame dev tools</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="dashboard.html">
                                <i class="fas fa-columns"></i> Home
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="boardgames.html">
                                <i class="fas fa-stream"></i> Boardgames

                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img :src="appmanager.profile.picture" class="rounded-circle" width="30px"
                                    height="30px">
                                {{appmanager.profile.nickname}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/" onclick="appmanager.authOut()">
                                    <i class="fas fa-sign-out-alt"></i> Sair
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container-md">
            <div class="card border-0 shadow my-5">
                <div class="card-body">
                    <h1 class="font-weight-light"> {{objBoardgame.titulo?objBoardgame.titulo+' - ':""}} Partidas</h1>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="listaview-tab" data-toggle="pill"
                                            href="#listaview" role="tab" aria-controls="listaview"
                                            aria-selected="true">Lista de partidas</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="chartview-tab" data-toggle="pill" href="#chartview"
                                            role="tab" aria-controls="chartview" aria-selected="false">Graficos e
                                            estatisticas</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="row tab-pane fade show active" id="listaview" role="tabpanel"
                                aria-labelledby="listaview-tab">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-sm" @click="novaPartida()">
                                        <i class="fas fa-sticky-note"></i> Nova partida
                                    </button>
                                    <div class="d-flex justify-content-between border-1 p-5" v-for="partida in partidas">
                                        <div class="">
                                            <p class="mb-1">
                                                {{partida.data.toLocaleDateString() +" "+partida.local}}
                                            </p>
                                            <small>feedbacks {{partida.feedbacks.length}}</small>
                                        </div>
                                        <div>
                                            <button type="button " class="btn btn-info btn-sm"
                                                @click="partidaSelect(partida)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button " class="btn btn-danger btn-sm" @click="dropPartida">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row fade " id="chartview" role="tabpanel" aria-labelledby="chartview-tab">
                                <div class=" col-md-12">
                                    <canvas id="myChart" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 100px "></div>
                    <p class="lead mb-0 ">Feito na casa do goblin!</p>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPartida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro de partida</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Local</label>
                                <input type="hidden" class="form-control" v-model="objPartida._id">
                                <input type="text" class="form-control" v-model="objPartida.local">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Data</label>
                                <input-date class="form-control" v-model="objPartida.data"></input-date>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Duracao (minutos)</label>
                                <input type="number" class="form-control" v-model="objPartida.duracao"></input>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Quantidade de jogadores</label>
                                <input type="number" class="form-control" v-model="objPartida.quantidadejogadores">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Quem ganhou?</label>
                                <input type="number" class="form-control" v-model="objPartida.quemganhou">
                            </div>
                            <div class="form-group col-md-4 mt-auto">
                                <input id="chkFeed" type="checkbox" v-model="objPartida.feedbackexterno">
                                <label for="chkFeed">Feedback externo</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>O que foi testado</label>
                                <textarea rows="3" class="form-control" v-model="objPartida.oquefoitestado"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Observações</label>
                                <textarea rows="3" class="form-control" v-model="objPartida.observacao"></textarea>
                            </div>
                        </div>
                        <div class="container">
                            <label>Feedbacks</label>
                            <button class="btn btn-success btn-sm float-rigth" @click="objPartida.addFeedback()"><i
                                    class="fas fa-plus"></i>
                            </button>
                            <!-- Tab links -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation"
                                    v-for="(feedback, index) in objPartida.feedbacks">
                                    <a :class="'nav-link '+(index==0?'active':'')" :id="'feedback-tab'+index"
                                        data-toggle="tab" :aria-selected="index==0" :href="'#feedback'+index"
                                        role="tab">#{{index}}</a>
                                </li>
                            </ul>
                            <!-- Tab content -->
                            <div class="tab-content" id="myTabContent">
                                <div v-for="(feedback, index) in objPartida.feedbacks"
                                    :class="'tab-pane border-1 fade show '+(index==0?'active show':'')"
                                    :id="'feedback'+index" :aria-labelledby="'feedback-tab'+index" role="tabpanel">
                                    <div class="form-row m-1 d-flex justify-content-end">
                                        <button class="btn btn-danger btn-sm" @click="objPartida.dropFeedback(index)"><i
                                                class="fas fa-trash"></i></button>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Nome do jogador</label>
                                            <input type="text" class="form-control" v-model="feedback.nomejogador">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Genero (como você se define)</label>
                                            <input type="text" class="form-control" v-model="feedback.idgenero">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputPassword4">Idade</label>
                                            <input type="number" class="form-control" v-model="feedback.idade">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label>Email</label>
                                            <input type="text" class="form-control" v-model="feedback.email">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Pontuacao</label>
                                            <input type="number" class="form-control" v-model="feedback.pontuacao">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input id="chkNot" type="checkbox" v-model="feedback.acompanhar">
                                            <label for="chkNot">Receber notifições</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Sobre as afirmações abaixo </label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel ">
                                            <span>Me diverti: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'mediverti'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.mediverti">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'mediverti'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>Eu Gostei da duração: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'gosteidaduracao'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.gosteidaduracao">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'gosteidaduracao'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>As regras ficaram claras: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'regrasficaramclaras'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.regrasficaramclaras">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'regrasficaramclaras'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>É um jogo original: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'jogooriginal'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.jogooriginal">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'jogooriginal'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>É um jogo bem estratégico: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'jogobemestrategico'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.jogobemestrategico">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'jogobemestrategico'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>Eu jogaria novamente: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'jogarianovamente'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.jogarianovamente">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'jogarianovamente'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class=" col-md-4 radiolabel">
                                            <span>Eu compraria o jogo: </span>
                                        </div>
                                        <div class=" col-md-8">
                                            <div class="form-check form-check-inline" v-for="metrica in mertricas">
                                                <input class="form-check-input m-1" type="radio"
                                                    :id="'comprariaojogo'+metrica.valor" :value="metrica.valor"
                                                    v-model="feedback.comprariaojogo">
                                                <label class="form-check-label"
                                                    :style="'font-size: xx-large; color:'+ metrica.cor "
                                                    :for="'comprariaojogo'+metrica.valor"><i
                                                        :class="metrica.descricao"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>O que você menos gostou?</label>
                                            <textarea rows="3" class="form-control"
                                                v-model="feedback.oquemenosgostou"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>O que você mais gostou?</label>
                                            <textarea rows="3" class="form-control"
                                                v-model="feedback.oquemaisgostou"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Observações</label>
                                            <textarea rows="3" class="form-control"
                                                v-model="feedback.observacao"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" class="btn btn-info float-right"
                            v-on:click="addPartida" data-dismiss="modal"><i class="fas fa-file"></i> Salvar</button>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="https://kit.fontawesome.com/a076d05399.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/boardgame.js"></script>
    <script src="assets/js/appManager.js"></script>
    <script src="assets/js/partidas.js"></script>

</body>

</html>