<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boardgame Dev Tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/geral.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
            <div class="container">
                <a class="navbar-brand"><i class="fas fa-box"></i>Boardgame dev tools</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="dashboard.html">
                                <i class="fas fa-columns"></i> Home
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="boardgames.html">
                                <i class="fas fa-stream"></i> Boardgames

                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img :src="appmanager.profile.picture" class="rounded-circle" width="30px"
                                    height="30px">
                                {{appmanager.profile.nickname}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/perfil.html" onclick="appmanager.authOut()">
                                    <i class="fas fa-user-circle"></i> Meu perfil
                                </a>
                                <a class="dropdown-item" href="/" onclick="appmanager.authOut()">
                                    <i class="fas fa-sign-out-alt"></i> Sair
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="card border-0 shadow my-5">
                <div class="card-header">

                    <h1 class="font-weight-light">Meu perfil </h1>
                </div>
                <div class="card-body p-5">
                    <div  v-if="status==0" class="card border-0 mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img :src="appmanager.profile.picture" class="card-img rounded-circle"
                                    onerror="appmanager.imgError(this)">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <button class="btn btn-success btn-sm float-right" @click="saveProfile()">
                                        <i class="fas fa-file"> </i> Salvar
                                    </button>
                                    <h5 class="card-title">{{appmanager.profile.nickname}}</h5>
                                    
                                    <div class="row">
                                        <div class="form-group col-md-3 text-right">
                                            Email:
                                        </div>
                                        <div class="form-group col-md-9">
                                            {{appmanager.profile.email}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3 text-right">
                                            Nome completo:
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input type="hidden" class="form-control" v-model="perfil._id">
                                            <input type="text" class="form-control" v-model="perfil.nome">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3 text-right">
                                            Telefone:
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input type="text" class="form-control" v-model="perfil.telefone">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3 text-right">
                                            Email contato:
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input type="text" class="form-control" v-model="perfil.emailcontato">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    Redes Sociais
                                                    <button class="btn btn-info btn-sm float-right"
                                                        @click="perfil.addRedeSocial()">
                                                        <i class="fas fa-plus"></i></button>
                                                </div>
                                                <div class="card-body">
                                                    <table v-if="perfil.redessociais.length > 0">
                                                        <thead>
                                                            <th>Nome</th>
                                                            <th width="65%">url</th>
                                                            <th width="1%"></th>
                                                        </thead>
                                                        <tr v-for="(rede,index) in perfil.redessociais">
                                                            <td>
                                                                <input type="text" class="form-control"
                                                                    v-model="rede.nome">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control"
                                                                    v-model="rede.url">
                                                            </td>
                                                            <td class="text-center">
                                                                <button class="btn btn-danger btn-sm"
                                                                    v-on:click="perfil.dropRedeSocial(index)"><i
                                                                        class="fas fa-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="status == 99">
                        <div class="text-center m-5">
                            <div class="spinner-grow text-larger" role="status">
                            </div>
                            <h3>carregando...</h3>
                        </div>
                    </div>

                    <div style="height: 100px "></div>
                    <p class="lead mb-0 ">feito na casa do goblin!</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="https://kit.fontawesome.com/a076d05399.js "></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/boardgame.js"></script>
    <script src="assets/js/appManager.js"></script>
    <script src="assets/js/perfil.js"></script>

</body>

</html>