body {
    background: url('https://download.hipwallpaper.com/desktop/1920/1080/67/73/EItGBU.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}